.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.flex--center {
    justify-content: center;
    align-items: center;
}

.flex--wrap {
    flex-wrap: wrap;
}

.flow > * + * {
    margin-top: var(--flow-space, 1.5rem);
}